

.bg-gray5 {
    background-color: #181818;
    height: 100vh;
    overflow: auto;
  }
  .bg-white {
    background-color: white;
    border-top: solid #c6c6c5 1px;
    border-bottom: solid #c6c6c5 1px;
  }
  .right {
    height: 100vh;
    overflow: auto;
    
  }
  .head {
    background-color: #2e2d2d;
    height: 50px;
    color: white;
    text-align: center;
  }
 

  .bg-dark1 {

/* background: #1089ff  ; */
background-color: #2128B8  ;

  }
  .list-group-item{
    /* background-color: #0499F9  ; */
    background-color: transparent  ;
    /* border-top-left-radius: 30px; */
    /* color: #E6E6E6 ; */
    color: white ;
    font-size: 14px;
    padding-top: 20px;
  }
  /* .list-group{
    margin-right: -15px;
  } */
  .navbar {
    max-height: 40px;
    box-shadow: 0px 10px 10px -15px #111;
  }
  .list-group-item:hover{
    background-color: #F5F5F5;
    color: #B0B0B0 ;
    border-left: #59E40F  solid 5px;
  }
  #logoy{
    background-color: #2128B8   ;
  }

  .active{
    background-color: #030878 ;
    color: white;
    border-radius: 2px;
  }


  .right{
    background-color: white;
  }

i{
  margin-right: 5px;
}

.side img{
    width: 25px;
    margin-right: 10px;
}
.logo img{
    width: 100px;
}
.avatar img{
  width: 30px;
  margin-right: 5px;
}
.avatar{
  color: white;
}
.avatar a{
 font-size: 15px;
}
.dropdown-menu a{
  font-size: 12px;
}
/* .logo{
  background-color: white;
    color: black;
    border-left: #59E40F  solid 5px;
} */