.bot{
    border-top: solid #DEDEDE ;
    margin-top: 200px;
    width: 100%;
}
.mar{
    margin-top: -8px;
}
.label-sm{
    font-size: 12px;
}
.formdesign{
    /* background-color:  #C0C0C0  ; */
    padding: 5px 5px;
    border-radius: 5px;
}
.totaldiv{
    padding: 10px 10px;
    /* background-color: white;
    box-shadow: 0px 10px 5px 10px #ACACAD ; */
}
.btnimage img{
    width: 20px;
}
tbody tr{
    font-size: 15px;
}
/* .btn-lightb{
    background-color: #1089ff;
    color: white;
   
} */

.noborder > tbody >tr > td{
    border: none;
  }