<div class="container-fluid divbody">
     <div class="container-fluid">
       <br>
       <button class="btn btn-light float-right" (click)="openProgramForm(null)">Add Program</button>
       <h4>Programs</h4>
       <div class=" searchbar">
          <input type="text" class="form-control form-control-sm " placeholder="Search Program"  [(ngModel)]="searchText"
          (ngModelChange)="onSearch()">
       </div>
       <table class="table table-hover mt-2 table-sm noborder">
          <thead>
            <tr>
              <th>Program Name</th>
              <th>Department</th>
              <th>Target</th>
              <th>Funds</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="tabody">
            <tr *ngFor="let program of programsData">
              <td>{{program.name}}</td>
              <td>{{program.department}}</td>
              <td>{{program.target}}</td>
              <td>{{program.funds}}</td>
              <td><button class="btn btn-primary btn-sm " (click)="openProgramForm(program)">Edit</button>
                <button class="btn btn-danger btn-sm ml-1" (click)="onDelete(program)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
     </div>
     <div class="t-footer container d-flex justify-content-between pt-2">
        <div class="row">
          <div class="col">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [pageSize]="pageSize"
              [(page)]="page"
              (pageChange)="onPageChange()"
              size="sm"
            ></ngb-pagination>
          </div>
          <div *ngIf="searchText" class="col p-0">
            <p class="result-text">
              {{
                resultLength > 1
                  ? resultLength + " results"
                  : resultLength === 1
                  ? "1 result"
                  : "No result"
              }}
            </p>
          </div>
        </div>
        <div>
</div>

















