<div class="container-fluid divbody">
    <h4 class="mt-3">Manage Users</h4>
    <nav class="navbar navbar-expand-lg ">
        <div id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="'activeusers'"
            routerLinkActive="active">Active Users</a>
            <a class="nav-item nav-link" [routerLink]="'requests'"
            routerLinkActive="active">User Requests</a>
          </div>
        </div>
      </nav>
      <div class="container-flex">
        <router-outlet></router-outlet>
      </div>
    

</div>