<!-- 
<div class="container-flex">
  <div class="container">
    <div class="container profile-head">
      <div class="imgdiv">
        <img src="/assets/pro.jpg" alt="" />
        <h4>
          <strong
            >{{ currentUser.firstname }} {{ currentUser.lastname }}</strong
          >
        </h4>
        <p>
          {{ currentUser.username }}
        </p>
      </div>
    </div>

    <div class="container mt-3 probody">
      <div>
        <div class="container" *ngIf="currentUser; else loggedOut">
          <button
            class="btn btn-primary btn-sm  mb-2"
            (click)="openEditProfile(null)"
          >
            Upload Image
          </button>
          <p>
                              <strong>Token:</strong>
                              {{ currentUser.accessToken.substring(0, 20) }} ...
                              {{
                                currentUser.accessToken.substr(
                                  currentUser.accessToken.length - 20
                                )
                              }}
                            </p>
          <p>
            <strong>Email:</strong>
            {{ currentUser.email }}
          </p>
          <p>
            <strong>Username:</strong>
            {{ currentUser.username }}
          </p>
          <p>
            <strong>Mobile Number:</strong>
            {{ currentUser.mobileno }}
          </p>
          <p>
            <strong>Address:</strong>
            {{ currentUser.address }}
          </p>
          <strong>Roles:</strong>
          <ul>
            <li *ngFor="let role of currentUser.roles">
              {{ role }}
            </li>
          </ul>
        </div>

        <ng-template #loggedOut>
          Please login.
        </ng-template>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4 ">
      <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" src="/assets/zayvain.jpeg" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">{{ currentUser.firstname }} {{ currentUser.lastname }}</h5>
          <p>
            {{ currentUser.username }}
          </p>
        </div>
        <ul class="ml-5">
          <li *ngFor="let role of currentUser.roles">
            {{ role }}
          </li>
        </ul>
        <div class="card-body text-center">
          <button
            class="btn btn-primary btn-sm  mb-2"
            (click)="openEditProfile(null)"
          >
            Upload Image
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8 ">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p>
            <strong>Token:</strong>
            {{ currentUser.accessToken.substring(0, 20) }} ...
            {{
              currentUser.accessToken.substr(
                currentUser.accessToken.length - 20
              )
            }}
          </p>
<p>
<strong>Email:</strong>
{{ currentUser.email }}
</p>
<p>
<strong>Username:</strong>
{{ currentUser.username }}
</p>
<p>
<strong>Mobile Number:</strong>
{{ currentUser.mobileno }}
</p>
<p>
<strong>Address:</strong>
{{ currentUser.address }}
</p>
        </div>
        <ng-template #loggedOut>
          Please login.
        </ng-template>
      </div>
    </div>
  </div>
</div>