.carou{
    background-color: #0499f9 ;
    height: 600px;
}
.left{
    margin-top: 200px;
}
img{
    max-width:100%
}
h1{
    color: white;
}
.slide1{
  padding: 20px 20px;
}
.slide1 img {
  width: 80%;
}

#tophead {
    max-height: 10px;
    background-color: black;
    color: white;
    font-size: 7px;
  }
.active{
    color: black;
}

.navbar-brand img{
    max-width: 40px;
}
  .navbar {
    background-color: white;
    max-height: 60px;
    /* z-index: 10000; */
    /* border-bottom: #E9E9E9 .1px solid; */
    margin-top: -15px;
    box-shadow: 0px 10px 10px -15px #111;
  }
  .navbar-nav a {
    color:   #717171;
    font-size: 13px;
    margin-right: 7px;
    background-color: white;
    padding: 10px 10px;
    margin-left: 15px;
    /* height: 15px; */
  }
  /* .collapse  a:hover {
border-bottom: #717171 1px solid;
  color: #717171;
  } */
  .navbar-brand img {
   width: 80px;
  }
  .nav-item img{
    max-width: 30px;
  }
  .noti{
      margin-left: 15px;
  }
  .noti img{
    max-height: 20px;
  }
  .app-name{
    border-bottom: 1px solid #1DF94B ;
    color: #1D8BF9 ;
  }
  .logs{
      width: 25px;
  }
.navicon img{
  width: 30px;
  border-radius: 2px;
}
