<form>
        <div class="modal-header">
          <h5 class="modal-title">Delete Program</h5>
        </div>
        <div class="row modal-body">
          <div class="ml-3">
            Are you sure you want to delete user <b>{{ program.name }}</b> ?
           
          </div>
        </div>
        <div class="modal-footer d-flex">
            <button
            type="button"
            class="btn btn-dark btn-sm ml-1"
            (click)="activeModal.close()"
          >
            No
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm ml-1"
            (click)="delete()"
          >
            Yes
          </button>
          
        </div>
      </form>
      